<footer>
    <p class="footer">
        <table><td>
        <a href="#"> Speed </a></td><td>
<a href="#">  TTS  </a></td><td>
<a href="#">  </a></td><td>
<a href="#">   </a></td><td>
<a href="#">  </a></td><td>
<a href="#">  </a></td> </table>
        W-Search v{{ version_number }} ||
        <a class="link" href="https://github.com/">{{ translation['github-link'] }}</a>
        {% if has_update %}
             || <span class="update_available">Update Available 🟢</span>
        {% endif %}
    </p>
</footer>
